<h1 class="page-heading">{{title}}</h1>

<nav class="nav nav-pills">
    <a class="nav-item nav-link" href="/co2"><button class="btn btn-primary">View CO2</button></a>
    <a class="nav-item nav-link" href="/tvoc"><button class="btn btn-primary">View TVOC</button></a><br/>
    {{!-- <a class="nav-item nav-link" href="/live"><button class="btn btn-info">View Live Data</button></a><br/> --}}
</nav>

<div class="chart-container">
    <canvas id="co2_chartCanvas"></canvas>
    <canvas id="tvoc_chartCanvas"></canvas>
</div>

<script src="javascripts/live_data.js"></script>