<h1 class="page-heading">{{data.title}}</h1>
<nav class="nav nav-pills">
    <a class="nav-item nav-link" href="/">Home</a>
</nav>
<label for="date-picker">Filter by date:</label>
<input type="date" id="filterDate" min="2020-01-31">
<button class="btn btn-primary" type="submit" id="submitDateBtn">Submit</button>

<div class="chart-container">
    <canvas id="tvoc_chartCanvasFiltered"></canvas>
</div>

<script src="javascripts/tvoc_data.js"></script>
